@media screen and (max-width:670px) {
   .header-menus {
       display:none;
   }

   .header-menu {
       display:none;
   }

   .header-icons {
    display:none;
    }

   .sp-header-icons {
       float:right;
   }

   aside {
       width:0%;
   }

   .sidemenu-item {
       display:none;
   }

   main {
       width:100%;
   }

   
}
