@media screen and (max-width:670px) {
   .header-menus {
       display:none;
   }

   .header-menu {
       display:none;
   }

   aside {
       width:0%;
   }

   .sidemenu-item {
       display:none;
   }

   main {
       width:100%;
   }

   
}
