* {
    box-sizing:border-box;
    }
    
    body {
        font-family: "Hiragino Sans",sans-serif;
        margin:0;
        color:#434343
    }

    header {
        border-top: 1px solid #C8DAF9;
        border-bottom: 1px solid #C8DAF9;
        height:50px;
    }

    .c-header {
        width:90%;
        max-width: 1100px;
        margin:0 auto;
        line-height: 50px;
    }

    .header-site-name {
        float:left;
    }

    .header-site-name:hover {
        cursor:pointer;
    }

    .header-site-name img {
        width:40%;
    }

    .header-menus {
        float:left;
    }

    .header-menu {
        padding:20px;
        font-size:12px;
    }

    .header-menu:hover {
        cursor:pointer;
        text-decoration: underline;
    }

    .header-icons {
        float:right;
    }

    .fa-solid {
        padding:10px;
    }

    .fa-solid:hover {
        cursor:pointer;
    }
    
    .container{
        width: 90%;
        margin:0 auto;
        max-width: 1100px;
        display: flex;
    }
    
    main{
        flex: 3;
    }
    
    aside {
        flex: 1;
        
        margin-right:50px;
    }

    .sidemenu-item {
        padding-left:20px;
        width:210px;
    }

    .sidemenu-title {
        border-bottom:1px solid #434343;
        padding:5px 0px;
    }

    aside li {
        list-style: none;
        margin-left:-40px;
        font-size:14px;
        height:40px;
        line-height:40px;
        border-bottom:1px solid #f5f5f5;
    }

    aside li:hover {
        cursor:pointer;
    }

    .sec_inner_1 {
        width:850px;
        height:850px;
        margin-top:5px;
        margin-bottom:-120px;
    }
    
    .slider-img-1{
        width:100%;
    }

    .slider-img-1:hover {
        cursor: pointer;
        opacity:0.5;
    }

    .slider-1 .slick-next{
        right:0!important;
    }

    .slider-1 .slick-prev{
        left:0!important;
    }

    .slider-1 .slick-arrow{
        width: initial!important;
        height: initial!important;
        z-index:2!important;
    }

    .slider-1 .slick-arrow:before{
        font-size: 30px!important;
    }

    .slider-1 .slick-slide{
        height:auto;
    }

    h2 {
        text-align: center;
        padding-bottom:5px;
        border-bottom:1px solid #C8DAF9;
        font-weight: normal;
    }

    .slider-2 {
        width:880px;
        height:260px;
    }
    
    .slider-img-2 {
        width:90%;
    }
    
    .slider-2 .slick-next{
        right:0!important;
        color:#AFAEAE;
    }
    .slider-2 .slick-prev{
        left:0!important;
        color:#AFAEAE;
    }
    .slider-2 .slick-arrow{
        width: initial!important;
        height: initial!important;
        z-index:2!important;
        color:#AFAEAE;
    }
    .slider-2 .slick-arrow:before{
        font-size: 20px!important;
        color:#AFAEAE; 
    }

    
